body {
    margin: 0;
    font-family: 'Assistant', sans-serif;
    width: 100%;
}

/* PRIMEIRA DIV */

header {
    height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    background-image: url('../assets/background.png');
    background-size: cover;
}

header h1 {
    font-family: 'Libre Barcode 128 Text', cursive;
    font-weight: 400;

    font-size: 80pt;
    height: 30%;
    margin-top: 80px;
    margin-bottom: 150px;

    text-shadow: 2px 1px 3px gray;
    color: white;
}

header h2 {
    font-size: 25pt;
    font-weight: 600;

    text-transform: uppercase;

    text-shadow: 2px 1px 3px gray;
    color: #a7ffdd;
}

.header-subtitle {
    display: flex;
    flex-direction: column;

    align-items: center;
    height: 35%;
}

.button-header {
    background-color: #838180;
    border: 0;

    font-weight: 600;
    font-size: 12pt;
    text-transform: uppercase;
    color: white;
    text-shadow: 1px 1px 2px black;

    width: 200px;
    height: 60px;

    border-radius: 3px;
}

.button-header:hover {
    width: 202px;
    height: 62px;

    opacity: 0.8;

    cursor: pointer;
}

.arrow-down {
    width: 40px;
    height: 40px;
}

/* SEGUNDA DIV */

.habilidades-div {
    display: flex;  
    flex-direction: column;
    height: 100vh;
    width: 100%;

    justify-content: center;

    background-image: url('../assets/background.png');
    background-size: cover;
}

.cabecalho-habilidades {
    display: flex;

    align-items: center;
    height: fit-content;

    font-size: 20pt;
    color: #23da93;
    text-shadow: 2px 2px 4px #548f78;
}

.cabecalho-habilidades:hover {
    cursor: default;
}

.dev-doll {
    width: 80px;
    height: 80px;

    padding: 20px;

    filter: grayscale(0.9);
}

.social-media {
    display: flex;
    list-style: none;

    justify-content: center;
    margin: 0px;
    padding-inline-start: 0px;
}

li img {
    width: 50px;
    height: 50px;
    margin: 8px;
}

li img:hover {
    opacity: 0.8;
}
